# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular Data Science Tools
- Examples of evaluating arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R (programming language)
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Tensorflow
3. PyTorch
4. Pandas
5. Caret

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|Google Colab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [21]:
min = 200
min_to_hours = round(min/60,2)
print("200 minutes equal", min_to_hours, "hours")

200 minutes equal 3.33 hours

## Author
Daniel Espinoza